@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "NiceFont";
  src: url("../public/fonts/Sowjetschablone.ttf");
}

@media (prefers-color-scheme: dark) {
  html {
    /* color-scheme: dark; */
  }
  body {
    color: white;
  }
}

.main {
  background: #0a0909;
  height: 100%;
  width: 100vw;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.todo {
  cursor: pointer;
}
.strike {
  text-decoration: line-through;
}
.navBar {
  background-color: black;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 40px;
}

.nft {
  background: radial-gradient(50% 50% at 50% 50%, #821515 19.06%, #3e0a0a 100%);
  border-radius: 20px;
}
