@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "NiceFont";
  src: url("../public/fonts/Sowjetschablone.ttf");
}

@media (prefers-color-scheme: dark) {
  html {
    /* color-scheme: dark; */
  }
  body {
    color: white;
  }
}

.main {
  background: #0a0909;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}


.todo {
  cursor: pointer;
}
.strike {
  text-decoration: line-through;
}